/* src/assets/styles/fonts.css */
@font-face {
    font-family: 'Samarkan';
    src: url('/fonts/Samarkan.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.title-samarkan {
    font-family: 'Samarkan', sans-serif;
    font-size: 42px; /* Adjust the size as needed */
}
